<section id="articleHero" class="wide-section">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}

                    {{ $authors := partialCached "func/GetArticleAuthors" . .File.UniqueID }}
                    <span class="article-date {{ if gt (len $authors) 1 }} multiple{{ end }}">
                    {{ .Page.Date.Format "January 2, 2006" }}
                    • {{ .ReadingTime }} min read
                    </span>

                </div>
            </div>
        </header>
        {{ with .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ . }}">
        </div>
        {{ end }}
    </div>
</section>
