ol, ul{
    color: var(--articleText);
    padding: 12px 0 20px 50px;
    margin: 0 auto;
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    font-size: 18px;
    width: 100%;
    max-width: 810px;

    @media screen and (max-width: $desktop){
        max-width: 600px;
    }
    @media screen and (max-width: $tablet){
        max-width: 550px;
    }
}

ol > li, ul > li {
    padding-bottom: 12px;
}

ul ol, ol ul, ul ul, ol ol {
    padding: 12px 0 0 25px;
}

ul ol > li:last-child, ol ul > li:last-child, ul ul > li:last-child, ol ol > li:last-child{
    padding-bottom: 0;
}

li > p {
    margin-bottom: 12px;
}

li > p:last-of-type {
    margin-bottom: 0px;
}
